# Environment variables
.env

# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Database
db.sqlite3

# Static files collected for production
staticfiles/

# SSL certificates (local development only)
cert.crt
cert.key